* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('/assets/img/imgmain.JPG') no-repeat center/cover;
    
}

#weather {
    background: url('/assets/img/imgmain.JPG');
    width: 360px;
    border-radius: 10px;
    padding: 30px 20px;
}


/* thẻ class cho body */
.hot {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('/assets/img/imghot.JPG') no-repeat center/cover; 
}

.hot #weather {
    background: url('/assets/img/imghot.JPG');
}

.cold {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('/assets/img/imgcold.JPG') no-repeat center/cover;
}

.cold #weather {
    background: url('/assets/img/imgcold.JPG');
}
/* kết thúc */

.search {
    width: 100%;
    padding: 13px 20px;
    outline: none;
    border-radius: 0 20px;
    border: none;
    background: rgba(225, 225, 225, 0.6);
    font-size: 1.2rem;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.4);
}

.search:focus {
    background: rgba(225, 225, 225, 1);
    border-radius: 20px 0;
    transition: 0.5s;
}


.content {
    color: white;
}

.capital {
    display: flex;
    justify-content: center;
    margin-top: 46px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

.time {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    font-size: 0.9rem;
}

.temperature {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 4rem;
    font-weight: 800;
    border-radius: 15px;
    box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.4);
}

.temperature,
.value {
    text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}

.derc {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 2.8rem;
    font-weight: 700;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

.derc__anothers {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 35px;
}

.derc__anothers div {
    display: flex;
    flex-direction: column;
    padding: 6px;
    align-items: center;
}

.derc__anothers i {
    margin: 8px 0;
}